.mainContainer{
  display: flex;
}
.sidebar{
  height: 800px;
}
.card-container{
  margin: 20px 50px;
}
.containerLeft {
  width: 100%;
}
.reaction{
  margin: 15px 0 0 0;
  background: #333 !important;
}
.create-post{
  margin-left: 10%;
  width: 80%;
  margin-top: 50px;
}
.welcome{
  margin: 150px 0;
  text-transform: capitalize;

}
.spinner{
  margin: 10% 0;
}